<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Uploaded Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Uploaded Images</h1>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ url_for('static', filename='uploads/' + image.image_url) }}" class="card-img-top" alt="...">
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('host_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>

    </div>
</body>
</html>
